.welcome.resetpassword{
    font-size: 2rem;
    padding-bottom:50px;
    
}

.register-p.resetpassword{
    line-height: 2.5;
    padding-bottom:20px;
}

.complete-div.resetpassword{
    padding:8px;
}

.login-form.resetpassword{
    padding:15px 10px 10px 50px;
    text-align:left;

}

.start-label.resetlabelone{
    padding-right: 5px;
}

.error-message{
    color:#810000;
    font-weight: bolder;
    padding-bottom:10px;
}

.success-message{
    padding-bottom:10px;

}

.reset__login{
    padding-right:10px;
    color: #02475e;
    transition: 0.4s ease-in-out;
}

.reset__login:hover{
    color:#e7e9da;
}